.App {
  font-family: sans-serif;
  text-align: center;
}

.aktualnosci {
  text-align: center;
  height: "600px",
  width: "1424px",
  backgroundPosition: "center",
  opacity: "1",
  backgroundSize: "cover",
  backgroundRepeat: "no-repeat",
  backgroundImage: 'url("./assets/IG background.jpg")',
  margin-left: "20px"
}

.post {
  borderRadius: "20px",
  borderStyle: "solid",
  color: "black",
  marginLeft: "80px",
  marginRight: "80px",
  marginTop: "2px"
}

.aktualnosci-post {
  text-align: center;
}
